<div class="text-center mt-5">
  <%= image_tag "bolso.png", id:"bolsominion", data:@bolsominion.id, class:"image_sizing" %>
  <%= image_tag "pete.png", id:'petista', data:@petista.id, class:"image_sizing" %>
  <h5 id="random_phrase"></h5>
</div>
