<h1 class="text-center m-5" style="font-family: 'Syne Mono', monospace;">Passagem de Pano Generator</h1>
<h4 class="text-center" style="font-family: 'Syne Mono', monospace;">Muuuuuuuuuuuuuuu</h4>

<div class="text-center mt-5">
  <div class="img-fluid">
    <%= image_tag "bolso.png", id:"bolsominion", data:@bolsominion.id, class:"image_sizing img-fluid" %>
    <%= image_tag "pete.png", id:'petista', data:@petista.id, class:"image_sizing img-fluid" %>
  </div>
  <div class="mt-5">
    <a class="btn btn-secondary" id="double_owner">Dobradinha</a>
  </div>
  <a class="" id="random_phrase"></a>
</div>
