<h1 class="text-center m-5">Passagem de pano Generator</h1>

<div class="text-center mt-5">
  <div class="img-fluid">
    <%= image_tag "bolso.png", id:"bolsominion", data:@bolsominion.id, class:"image_sizing img-fluid" %>
    <%= image_tag "pete.png", id:'petista', data:@petista.id, class:"image_sizing img-fluid" %>
  </div>
  <a class="m-4" id="random_phrase"></a>
</div>
